@font-face
  font-family 'ObjectSans'
  src url('~static/fonts/ObjectSans-Heavy.woff2') format('woff2'),
  url('~static/fonts/ObjectSans-Heavy.woff') format('woff')
  font-weight 800
  font-style normal

@font-face
  font-family 'ObjectSans'
  src url('~static/fonts/ObjectSans-Regular.woff2') format('woff2'),
  url('~static/fonts/ObjectSans-Regular.woff') format('woff')
  font-weight 400
  font-style normal

*
  box-sizing border-box
  margin 0
  padding 0

body
  font-family 'ObjectSans'
  font-size 24px
  font-weight 400
  color $charkGrey
  background $bg
  &._overflow
    overflow hidden
    pointer-events none
a
  text-decoration none
  color $charkGrey
button
  background transparent
  outline none
  border none

p
  font-size 24px
  line-height 40px
  letter-spacing 0.03em
  @media $md_minus
    letter-spacing 0
  @media $xs
    font-size 16px
    line-height 24px
.h0
  font-size 112px
  line-height 134px
  font-weight 800
  letter-spacing 0.03em
  color transparent
  text-transform uppercase
  -webkit-text-stroke-width 2px
  -webkit-text-stroke-color $acsent
  @media $sm_minus
    font-size 80px
    line-height 80px
    letter-spacing 0.08em
  @media $xs
    -webkit-text-stroke-width 1px
    font-size 40px
    line-height 48px
    letter-spacing 0.03em
h1
  font-size 80px
  line-height 112px
  font-weight 800
  letter-spacing 0.05em
  text-transform uppercase
  @media $xs
    font-size 40px
    line-height 48px
    letter-spacing 0.04em
  &._acsent
    color $acsent

h2
  font-size 48px
  line-height 72px
  letter-spacing 0.02em
  font-weight 400

h3
  font-size 24px
  line-height 36px
  font-weight 800
  letter-spacing 0.02em

img
  max-width 100%
  max-height 100%

.wrapper
  overflow hidden

.container
  max-width 1440px
  padding-left 64px
  padding-right 64px
  margin-right auto
  margin-left auto
  @media $md_minus
    padding-left 44px
    padding-right 44px
  @media $sm_minus
    padding-left 64px
    padding-right 64px
  @media $xs
    padding-left 24px
    padding-right 24px

//-- grid system
.gridContainer
  display grid
  gap 32px
  grid-template-columns repeat(12,minmax(0,1fr))
  width 100%
  @media $md_minus
    gap 24px
  @media $sm_minus
    grid-template-columns repeat(6,minmax(0,1fr))
    gap 32px
  @media $xs
    gap 40px
    grid-template-columns repeat(3,minmax(0,1fr))
  &._centered
    align-items center
    align-self center
  &._courseOfWhat
    @media $xs
      display flex
      flex-wrap wrap
      gap 0
  &._rows
    grid-template-rows repeat(6,minmax(0,max-content))
    grid-template-columns repeat(2,minmax(0,1fr))
    grid-auto-flow column
    grid-auto-rows max-content
  &__cell
    //outline 1px solid #d4d4d4
    &._centered
      align-self center
    &._span-1
      grid-column-end span 1
    &._span-2
      grid-column-end span 2
    &._span-3
      grid-column-end span 3
    &._span-4
      grid-column-end span 4
    &._span-5
      grid-column-end span 5
    &._span-6
      grid-column-end span 6
    &._span-7
      grid-column-end span 7
    &._span-8
      grid-column-end span 8
    &._span-9
      grid-column-end span 9
    &._span-10
      grid-column-end span 10
    &._span-11
      grid-column-end span 11
    &._span-12
      grid-column-end span 12
    &._span-md-1
      @media $md_minus
        grid-column-end span 1
    &._span-md-2
      @media $md_minus
        grid-column-end span 2
    &._span-md-3
      @media $md_minus
        grid-column-end span 3
    &._span-md-4
      @media $md_minus
        grid-column-end span 4
    &._span-md-5
      @media $md_minus
        grid-column-end span 5
    &._span-md-6
      @media $md_minus
        grid-column-end span 6
    &._span-md-7
      @media $md_minus
        grid-column-end span 7
    &._span-md-8
      @media $md_minus
        grid-column-end span 8
    &._span-md-9
      @media $md_minus
        grid-column-end span 9
    &._span-md-10
      @media $md_minus
        grid-column-end span 10
    &._span-md-11
      @media $md_minus
        grid-column-end span 11
    &._span-md-12
      @media $md_minus
        grid-column-end span 12
    &._span-sm-1
      @media $sm_minus
        grid-column-end span 1
    &._span-sm-2
      @media $sm_minus
        grid-column-end span 2
    &._span-sm-3
      @media $sm_minus
        grid-column-end span 3
    &._span-sm-4
      @media $sm_minus
        grid-column-end span 4
    &._span-sm-5
      @media $sm_minus
        grid-column-end span 5
    &._span-sm-6
      @media $sm_minus
        grid-column-end span 6
    &._span-xs-0
      @media $xs
        grid-column-end span 0
    &._span-xs-1
      @media $xs
        grid-column-end span 1
    &._span-xs-2
      @media $xs
        grid-column-end span 2
    &._span-xs-3
      @media $xs
        grid-column-end span 3
    &._offset-0
      @media $lg_plus
        grid-column-start 1
    &._offset-1
      @media $lg_plus
        grid-column-start 2
    &._offset-2
      @media $lg_plus
        grid-column-start 3
    &._offset-3
      @media $lg_plus
        grid-column-start 4
    &._offset-4
      @media $lg_plus
        grid-column-start 5
    &._offset-5
      @media $lg_plus
        grid-column-start 6
    &._offset-6
      @media $lg_plus
        grid-column-start 7
    &._offset-7
      @media $lg_plus
        grid-column-start 8
    &._offset-8
      @media $lg_plus
        grid-column-start 9
    &._offset-9
      @media $lg_plus
        grid-column-start 10
    &._offset-10
      @media $lg_plus
        grid-column-start 11
    &._offset-11
      @media $lg_plus
        grid-column-start 12
    &._offset-md-0
      @media $md
        grid-column-start 1
    &._offset-md-1
      @media $md
        grid-column-start 2
    &._offset-md-2
      @media $md
        grid-column-start 3
    &._offset-md-3
      @media $md
        grid-column-start 4
    &._offset-md-4
      @media $md
        grid-column-start 5
    &._offset-md-5
      @media $md
        grid-column-start 6
    &._offset-md-6
      @media $md
        grid-column-start 7
    &._offset-md-7
      @media $md
        grid-column-start 8
    &._offset-md-8
      @media $md
        grid-column-start 9
    &._offset-md-9
      @media $md
        grid-column-start 10
    &._offset-md-10
      @media $md
        grid-column-start 11
    &._offset-md-11
      @media $md
        grid-column-start 12
    &._offset-sm-0
      @media $sm
        grid-column-start 1
    &._offset-sm-1
      @media $sm
        grid-column-start 2
    &._offset-sm-2
      @media $sm
        grid-column-start 3
    &._offset-sm-3
      @media $sm
        grid-column-start 4
    &._offset-sm-4
      @media $sm
        grid-column-start 5
    &._offset-sm-5
      @media $sm
        grid-column-start 6
    &._offset-xs-0
      @media $xs
        grid-column-start 1
    &._offset-xs-1
      @media $xs
        grid-column-start 2
    &._offset-xs-2
      @media $sm
        grid-column-start 3

    &._order-md-1
      @media $md
        order 1
    &._order-md-2
      @media $md
        order 2
    &._order-md-3
      @media $md
        order 3
    &._order-md-4
      @media $md
        order 4
    &._order-md-5
      @media $md
        order 5

    &._order-sm-1
      @media $sm_minus
        order 1
    &._order-sm-2
      @media $sm_minus
        order 2
    &._order-sm-3
      @media $sm_minus
        order 3
    &._order-sm-4
      @media $sm_minus
        order 4
    &._order-sm-5
      @media $sm_minus
        order 5
    &._order-sm-6
      @media $sm_minus
        order 6
    &._order-sm-7
      @media $sm_minus
        order 7
    &._order-sm-8
      @media $sm_minus
        order 8
    &._order-sm-9
      @media $sm_minus
        order 9
    &._order-xs-1
      @media $xs
        order 1
    &._order-xs-2
      @media $xs
        order 2
    &._order-xs-3
      @media $xs
        order 3
    &._order-xs-4
      @media $xs
        order 4
    &._none-xs
      @media $xs
        display none
//-- grid system

.aboutBorderText
  position relative
  z-index 3
  &:before
    content ''
    width 80px
    height 4px
    background $acsent
    position absolute
    right calc(100% + 32px)
    top 16px
    @media $md_minus
      width 56px
      right calc(100% + 24px)
    @media $sm_minus
      position static
      display block
      margin-bottom 64px
      width 80px
    @media $xs
      width 64px
      height 2px
      margin-bottom 40px
  &._about
    margin-top 96px
    @media $md_minus
      margin-top 56px
    @media $sm_minus
      margin-top 96px
    @media $xs
      margin-top 40px
  &._students
    &:before
      @media $xs
        margin-bottom 64px
  &._course
    &:before
      height 2px
      @media $sm_minus
        position absolute
        right calc(100% + 24px)
      @media $xs
        right calc(100% + 41px)
  & p
    font-size 24px
    line-height 36px
    letter-spacing 0.02em
    @media $sm_minus
      letter-spacing 0
      line-height 40px
    @media $xs
      font-size 16px
      line-height 24px
      letter-spacing 0.03em

:root
  --overlay-bg $acsent
  --transition-duration .35s

.overlay-right
  position fixed
  top 0
  left 0
  height 100vh
  width 0
  background var(--overlay-bg)
  transition-duration var(--transition-duration)
  z-index 500

.overlay-right-enter ~ .overlay-right,
.overlay-right-leave-to ~ .overlay-right
  width 0

.overlay-right-enter-active ~ .overlay-right,
.overlay-right-leave-active ~ .overlay-right
  width 100vw

.overlay-right-enter-active ~ .overlay-right
  transition-timing-function ease-in

.overlay-right-leave-active ~ .overlay-right
  transition-timing-function ease-out

.overlay-right-enter-active,
.overlay-right-leave-active
  transition-duration var(--transition-duration)

.overlay-left
  position fixed
  top 0
  right 0
  height 100vh
  width 0
  background var(--overlay-bg)
  transition-duration .35s
  z-index 500


.overlay-left-enter ~ .overlay-left,
.overlay-left-leave-to ~ .overlay-left
  width 0

.overlay-left-enter-active ~ .overlay-left,
.overlay-left-leave-active ~ .overlay-left
  width 100vw

.overlay-left-enter-active ~ .overlay-left
  transition-timing-function ease-in

.overlay-left-leave-active ~ .overlay-left
  transition-timing-function ease-out

.overlay-left-enter-active,
.overlay-left-leave-active
  transition-duration 1s

.overlay-right-full-enter ~ .overlay-left
  width 100vw

.overlay-right-full-enter-active ~ .overlay-left,
.overlay-right-full-leave-active ~ .overlay-left
  width 100vw

.overlay-right-full-enter-active ~ .overlay-left
  transition-timing-function ease-in


.overlay-right-full-enter-active ~ .overlay-left,
.overlay-right-full-enter-to ~ .overlay-left
  display none

.overlay-right-full-enter-to ~ .overlay-right
  width 0

.overlay-right-full-leave-active ~ .overlay-right
  transition-timing-function ease

.overlay-right-full-enter ~ .overlay-right,
.overlay-right-full-enter-active ~ .overlay-right,
.overlay-right-full-enter-to ~ .overlay-right
  transition-duration unset !important
  width 100vw

.overlay-right-full-enter-active
  // animation translate-in 0.8s
  transition-duration var(--transition-duration)

.overlay-right-full-leave-active
  transition-duration var(--transition-duration)
  // animation translate-out 0.8s


@keyframes overlay-in
  0%
    transform translateX(100%)
  100%
    transform translateX(-100%)

@keyframes translate-in
  0%
    transform translateX(100px)
  100%
    transform translateX(0px)

@keyframes translate-out
  0%
    transform translateX(0px)
  100%
    transform translateX(-100px)

@keyframes translateFirstScreen
  0%
    transform translateY(100%)
    opacity 0
  100%
    transform translateY(0)
    opacity 1
@keyframes animPhoto
  0%
    opacity 0
  100%
    opacity 1


.popup-form
  width 100%
  background $white
  padding 32px 40px 16px 40px
  border-radius 10px
  overflow hidden
  & form
    width 100%
    & input
      width 100%
      padding 16px 24px
      margin-bottom 12px
    & button[type="submit"]
      width 100%
      //max-width 280px
      margin 0 auto
      display block
      height 56px
      margin-top 18px
      transition $transition
      &:hover
        cursor pointer
        filter brightness(1.1)
