@font-face
  font-family 'ObjectSans'
  src url('/fonts/ObjectSans/ObjectSans-Heavy.woff2') format('woff2'),
  url('/fonts/ObjectSans/ObjectSans-Heavy.woff') format('woff')
  font-weight 800
  font-style normal

@font-face
  font-family 'ObjectSans'
  src url('/fonts/ObjectSans/ObjectSans-Regular.woff2') format('woff2'),
  url('/fonts/ObjectSans/ObjectSans-Regular.woff') format('woff')
  font-weight 400
  font-style normal
