$white           = #ffffff
$black           = #000000
$charkGrey       = #2C2F30
$acsent          = #FF543E
$bg              = #F5F7FA

$xs              = '(max-width: 767px)'
$sm_minus        = '(max-width: 1023px)'
$sm              = '(min-width: 768px) and (max-width: 1023px)'
$sm_plus         = '(min-width: 768px)'
$md_minus        = '(max-width: 1439px)'
$md              = '(min-width: 1024px) and (max-width: 1439px)'
$md_plus         = '(min-width: 1024px)'

$transition      = all 0.3s ease-in-out
$hover           = '(hover: hover)'
